*{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

body {
  background: rgb(17, 16, 16); /* Text color to stand out on the background */
}


/* Prevent content from being hidden behind navbar */
body {
  padding-top: 80px;

}



h1{
  color: rgba(255, 0, 0, 0.774);

  font-size: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
  animation: vibrate 0.0001s infinite;
}

#clown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  width: auto;
  margin: auto;
  background-position: center; 
  background-attachment: fixed;
  padding: 40px;
  margin-top: 30px; 
  animation: vibrate 0.001s infinite;
}

@keyframes vibrate {
  0% { transform: translate(0, 0); }
  25% { transform: translate(-1px, 1px); }
  50% { transform: translate(1px, -1px); }
  75% { transform: translate(-1px, -1px); }
  100% { transform: translate(1px, 1px); }
}
