* {
    background-color: red;
    animation: cabins .1s linear infinite;
  }
@keyframes cabins {
    0% {
        background-color: purple;
    }
    25% {
      background-color: rgb(9, 255, 0);
    }
    50% {
      background-color: rgb(0, 9, 128);
    }
    100% {
        background-color: yellow;
    }
  }