* {
    background-color: red;
    animation: cabins 3s linear infinite;
  }
@keyframes cabins {
    0% {
        background-color: purple;
    }
    20% {
      background-color: rgb(9, 255, 0);
    }
    40% {
      background-color: rgb(2, 0, 128);
    }
    80%{
        background-color: yellow;
    }
    100% {
      background-color: purple;
  }
  }